#tvcap, #mbEnd, #rhs, #bottomads, .g.no-sep.tpo, .mts.mbs, .qGXjvb {
  display: none;
}
#tvcap {
  display: none;
}

/* Youtube */
/* Youtube suggestions */
.ytd-watch-next-secondary-results-renderer {
  display: none;
}

/* lefigaro stuff */
.fig-article-body img[src*="gif-v5-2"] {
    display: none !important;
}
.fig-article-body{
  color: black !important;
  text-shadow: none !important;
}

/* Facebook */
/* feed */
.rq0escxv.l9j0dhe7.du4w35lb.j83agx80.g5gj957u.pmt1y7k9.buofh1pr.hpfvmrgz.taijpn5t.gs1a9yip.owycx6da.btwxx1t3.f7vcsfb0.fjf4s8hc.b6rwyo50.oyrvap6t {
  display: none;
}